.passwordinput input {
  margin-bottom: 10px;
  padding: 15px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 94%;
  margin-top: 30px;
  
}

.passwordinput {
    position: relative;
}

.showeye {
    color: #4361EE;
    position: absolute;
    bottom: 23px;
    right: 15px;
}

.eyeoff {
    color: #9c9c9c;
}